* {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.input {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.animation {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}


.flex {
  display: inline-block;
  background-color: transparent;
  position: relative;
  top: -50vh;
  left: 50vw;
  transform: translate(-50%);
  border: 2px solid white;
  transition: 1s;
  padding: 20px 50px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  outline: none;
  user-select: none;
}

.flex:hover {
  background-color: white;
  color: black;
}

.flex:active {
  box-shadow: inset 0 0 30pt 5pt #898a8d;
  transition: 0s;
}

.main {
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.nav-bar {
  display: flex;
  font-weight: 400;
  line-height: 1.5;
  padding: .5rem 1rem;
  color: #212529;
  background-color: #343a40;
}

.nav-menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.nav-link{
  text-decoration: none;
  color: green;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-menu-list{
  display: flex;
  flex-grow: 1;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu-list-link{
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  padding-right: .5rem;
  display: flex;
  align-items: center;
}

.nav-menu-list-link:hover {
  color: #8f8f92;
}

.nav-btn {
  cursor: pointer;
  display: none;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown-link:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.nav-dropdown-link {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}

.nav-dropdown-link:hover {
  color: #8f8f92;
}

.nav-dropdown-link:focus {
  color: green;
}

.nav-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.nav-dropdown-menu-item {
  color: #212529;
  line-height: 2;
}

.nav-dropdown-menu-item:hover {
  text-decoration: underline;
}

.button {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 1px solid;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out;
}

.nav-form-btn {
  color: #28a745;
  background-color: transparent;
  border-color: #28a745;
  transition: 0.5s;
}

.nav-form-btn:hover {
  color: black;
  background-color: #28a745;
  border-color: transparent;
}

.container {
  padding-bottom: 40px;
  padding-top: 50px;
  margin: 0 auto;
  background-color: #E9EBEF;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.main-container-header {
  font-size: 4rem ;
}

.section {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}


.footer {
  background-color: #343a40;
  color: white;
}

.main-container-text {
  font-size: 1.5rem;
}

.blue-link {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 0;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #007bff;
  padding: .6rem 1rem;
  font-size: 1.25rem;

}

.contact-btn {
  margin-left: 50%;
  transform: translate(-50%);
  outline: none;
}

.main-container-link:hover {
  box-shadow: inset 0 0 10px white;
}

.main-container-link:active {
  background-color: #0068d8;
}

.section-title {
  margin-top: 60px;
  display: inline-block;
  font-size: 2.5rem;
  width: 100%;
}

.section-main-container-btn {
  text-align: center;
  border: 0;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #5C6268;
  padding: .6rem 1rem;
  font-size: 1.2rem;
}

.section-main-container-btn:hover {
  box-shadow: inset 0 0 10px white;
}

.section-main-container-btn:active {
  background-color: #494e53;
}

.section-main-container {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 33.333%;
}

.section-main-container-text {
  font-size: 1.5rem;
  margin-right: 20px;
  transition: all 0.5s;
}

.section-main-container-title {
  font-size: 2rem;
}

#contact {
  background-color: #E9EBEF;
  padding-bottom: 200px;
}

#contact:before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-right: 49.5vw solid transparent;
  border-left: 49.5vw solid transparent;
  border-top: 5vw solid white;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.form {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.contact-title {
  font-size: 2.5rem;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.contact-form-label {
  width: 50%;
}

.contact-input {
  width: 100%;
  margin-bottom: 3px;
  background-color: #bebfc3;
  color: white;
  outline: none;
}

.contact-input::placeholder {
  color: white;
}

.contact-input:focus {
  background-color: #bebfc3;
  box-shadow: 0 0 3pt 2pt #929396;
}

.contact-input:-webkit-autofill,
.contact-input:-webkit-autofill:hover,
.contact-input:-webkit-autofill:focus,
.contact-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #bebfc3 inset;
  -webkit-text-fill-color: white;
}

.contact-textarea {
  width: 100%;
  height: 200px;
  font-size: 1.2rem;
  background-color: #bebfc3;
  color: white;
  outline: none;
}

.contact-textarea::placeholder {
  color: white;
}

.contact-textarea:focus {
  box-shadow: 0 0 3pt 2pt #929396;
}

.contact-btn:hover {
  box-shadow: 0 0 3pt 2pt #929396;
}

.contact-btn:focus {
  box-shadow: 0 0 3pt 2pt #929396;
}

.contact-btn:active {
  background-color: #0068d8;
}

.top {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 1;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.top:hover {
  opacity: 0.9;
}
/*////////////////////////////*/

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.active {
  color: green;
}

@media screen and (max-width: 425px){
  .animation {
    display: none;
  }
}